* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  :root {
    --main-color: #7FA9C7;
    --typography: #3C5B5F;
    --background: #F2F2F0;
  
    font-size: 62.5%; /* 1rem = 10px */
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    width: 100%;
  }
  
  body {
    font-family: 'Manrope';
    font-size: 23px;
  
    overflow: overlay;
  
    background-color: var(--background);
    color: var(--typography);
  
  
    line-height: 2rem;
    letter-spacing: 0.36px;
  }
  
  /* HEADER */

  ul {
    list-style: none;
  }
  
  a, a:active, a:visited {
    text-decoration: none;
    color: var(--typography);
    font-weight: 300;
    cursor: pointer;
  }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    padding: 40px;
    background-color: var(--typography);
    color: var(--background);
    font-weight: bold;
  }
  
  header .logo {
    cursor: pointer;
  }
  
  header nav .navbar {
    display: flex;
    gap: 3.2rem;
  }
  
  header nav .navbar a {
    opacity: .5;
    transition: all 0.3s;
    color: var(--background);
    padding: 10px;
  }
  
  header nav .navbar a:hover {
    opacity: 1;
    text-decoration: underline 2px;
    color: var(--main-color);
  }
  
  .btn-primary, .btn-primary:active, .btn-primary:visited {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    color: var(--background);
    opacity: 0.7;
    width: 16rem;
    height: 5.7rem;
    border-radius: 100px;
    transition: all .3s;
  }
  
  .btn-primary:hover {
    opacity: 1;
  }
  
 
  /* PRINCIPAL */
  
  
  .principal{
    height: 595px;
    background-color: var(--typography);
    margin: 0px; 
  }

  input{
    width: 530px;
    height: 50px;
    border-radius: 10px;
    border: solid var(--typography) 2px;
    background-color: var(--background);
    padding: 10px;
    font-size: 17px;
    font-family: 'Manrope';
   }
  
   .titulo_input{
    font-size: 18px;
   }
    
   .enviar{
    width: 530px;
    height: 50px;
    background-color: var(--typography);
    color: var(--background);
    border-radius: 10px;
    font-size: 18px;
    font-family: 'Manrope';
   }

   .enviar:hover{
    background-color: var(--main-color);
    color: var(--typography);
    border: solid 3px var(--typography);
    transition: all 0.2s;
    cursor: pointer;
    font-weight: bold;
   }

   .texto{
    color: var(--background);
    font-size: 30px;
    text-align: justify;
    line-height: 30px;
  }

  .inputs{
    width: 600px;
    height: 560px;
    background-color: var(--background);
    padding: 35px;
    margin-right: 40px;
    border-radius: 13px;
    margin-top: 25px;
   }
  
   .container{
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      height: 55vh;

   }

   .titulo_calculadora{
    font-size: 40px;
    color: var(--main-color);
  }

  .titulo_como_funciona{
<<<<<<< HEAD
    font-size: 900rem;
=======
    font-size: 900rem;
>>>>>>> 5a41b31df05d64b855a330f7cc82261985a181d9
    color: white;
    color: #7FA9C7;
    margin-left: 45px;
    margin-top: 3rem;
  }

  .titulo_voce_sabia{
    font-size: 60px;
    color: var(--main-color);
    margin-left: 45px;
    margin-top: 20px;
  }

  .descricao_voce_sabia{
    font-size: 23px;
    line-height: 40px;
    height: 40px;
    width: 800px;
    color: var(--typography);
    margin-left: 45px;
    margin-top: 50px;
    text-align: justify;
  }

  .descricao_calculadora{
    font-size: 23px;
    /* line-height: 40px; */
    height: 40px;
    width: 800px;
    margin-left: 45px;
    margin-top: 50px;
    
  }
  .subtitulo_descricao{
    margin-top: -2rem;
    color: #7FA9C7;
    font-weight: 500;
  }
  .descricao_calculadora .p{
    margin-bottom: 2rem;
  }

  .container2{
    width: 600px;
    height: 630px;
    display: flex;
    justify-content: space-between;
  }

  .imagem{
    width: 429px;
    height: 429px;
    margin-left: 100px;
    margin-top: 80px;
  }


  
  /* FOOTER */

  footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    border-top: solid #B8BFBE 4px;
    padding: 45px;
  }
  
  footer .col {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  footer .col li:first-child {
    color: var(--typography);
  }
  
  footer .col li a {
    color: var(--typography);
    opacity: .7;
    transition: .3s;
  }
  
  footer .col li a:hover {
    opacity: 1;
  }
  
  footer .col li a svg path {
    transition: .3s;
  }
  
  footer .col li a:hover svg path {
    stroke-opacity: 1;
    stroke: var(--typography);
  }
  
  footer .col .social-media {
    display: flex;
    gap: 2rem;
  }

  .modal-container {
    width: 100%;
    position: fixed;
    top: 30%;
    display: none;
    z-index: 999;
    justify-content: center;

  }
  
  .modal {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: rgb(255, 246, 246);
    border-radius: 10px;
    width: 50%;
  }
  
  .active {
    display: flex;
  }
  
  .active .modal {
    animation: modal .4s;
  }
  
  @keyframes modal {
    from {
      opacity: 0;
      transform: translate3d(0, -60px, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  span {
    margin: 10px auto;
  }
  
  .btns {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .btns button {
    font-size: medium;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
  
  .btnVoltar {
   background-color: #7FA9C7!important;
  }
  
  .btnFechar {
    background-color: #929292!important;
   }
  
   @media (max-width: 500px) {
    .modal {
      padding: 10px;
      width: 80%;
    }   
  
    span, .btns button {
      font-size: smaller;
    }
   }